<div
  class="
    center
    vertical
    font-syne
    text-lg
    mx-2
    md:mx-10
    p-2
    rounded-xl
    group/about
  "
>
  <div class="w-full flex justify-between flex-wrap z-10 space-y-2">
    <div
      class="relative animate__fadeInLeft animate__animated"
      style="animation-delay: 0.3s"
    >
      <div class="code code-left smooth w-40" [title]="imgText.open">
        {{ imgText.open }}
      </div>
      <img
        alt="a picture of me"
        src="/assets/me.webp"
        class="w-40 h-40 rounded-full object-cover shadow"
      />
      <div class="img-ring blob blob-ring border-colors"></div>
      <div
        class="img-ring blob blob-ring border-colors rotate-90 scale-110"
      ></div>
      <div
        class="img-ring blob blob-ring border-colors -rotate-45 -z-[1]"
      ></div>
      <div class="code code-left smooth">
        {{ imgText.close }}
      </div>
    </div>
    <div>
      <app-title [title]="aboutMe"></app-title>
    </div>
  </div>
  <div class="space-y-4 text-end mt-4 lg:mt-10">
    <div>
      <div class="code smooth">
        {{ paragraphTxt.open }}
      </div>
      <p class="drop-shadow-md" id="p">
        {{ descriptionTxt }}
      </p>
      <div class="code smooth">{{ paragraphTxt.close }}</div>
    </div>

    <div>
      <div class="code smooth">{{ paragraphTxt.open }}</div>
      <p class="drop-shadow-md">
        {{ childhoodTxt }}
      </p>
      <div class="code smooth">{{ paragraphTxt.close }}</div>
    </div>
    <div>
      <div class="code smooth">{{ paragraphTxt.open }}</div>
      <p class="drop-shadow-md">
        {{ pastExperiencesTxt }}
      </p>
      <div class="code smooth">{{ paragraphTxt.close }}</div>
    </div>

    <div>
      <div class="code smooth">{{ paragraphTxt.open }}</div>
      <p class="drop-shadow-md">{{ timeOffTxt }}</p>
      <div class="code smooth">{{ paragraphTxt.close }}</div>
    </div>
  </div>
</div>
