<img
  src="/assets/AI/astro-2.webp"
  alt=""
  class="
    brightness-90
    absolute
    bottom-0
    w-full
    h-full
    -translate-x-20
    dark:translate-x-0
    opacity-0
    dark:opacity-100
    object-contain object-left-bottom
    pointer-events-none
    smooth
    delay-500
    dark:delay-0
  "
/>

<img
  class="
    absolute
    w-full
    h-full
    top-0
    dark:opacity-0
    -z-10
    object-cover
    smooth
    xl:object-left-top
    brightness-[85%]
  "
  src="/assets/AI/wp-lm-3.webp"
/>

<div
  class="
    absolute
    w-full
    h-full
    top-0
    -z-[2]
    dark:backdrop-blur-3xl
    opacity-0
    dark:opacity-100
    pointer-events-none
    smooth
  "
></div>
<img
  class="
    absolute
    w-full
    h-full
    top-0
    opacity-0
    dark:opacity-100
    dark:brightness-50
    dark:saturate-150
    -z-10
    object-cover
    smooth
  "
  src="/assets/AI/landing-dm.webp"
/>
