<!-- WALLPAPER LIGHT MODE -->
<div class="grain w-full h-full z-10 pointer-events-none"></div>
<div
  class="
    absolute
    h-full
    w-full
    bg-dotted-spacing-20 bg-dotted-gray-400/70
    dark:bg-dotted-white/30
    z-10
    pointer-events-none
  "
></div>
<div
  class="
    pointer-events-none
    smooth
    absolute
    h-full
    w-full
    opacity-100
    dark:opacity-0
    bg-gradient-to-b
    from-[#FEFAF5]
    to-[#F2E5D2]
    smooth
  "
></div>

<div
  class="
    pointer-events-none
    smooth
    absolute
    h-full
    w-full
    opacity-0
    dark:opacity-100
    bg-gradient-to-b
    dark:from-cyan-800
    dark:to-gray-900
    smooth
    dark:delay-300
  "
></div>
