<div
  class="
    absolute
    bottom-0
    w-full
    h-full
    overflow-visible
    -translate-x-20
    dark:translate-x-0
    opacity-0
    dark:opacity-100
    hidden
    lg:block
    pointer-events-none
    smooth
    delay-500
    dark:delay-0
    z-[3]
    FadeAwayAstro
  "
></div>

<div
  class="
    absolute
    w-full
    h-full
    overflow-visible
    top-0
    dark:opacity-0
    object-cover
    smooth
    xl:object-left-top
    FadeAwayLm
  "
></div>

<div
  class="
    absolute
    w-full
    h-full
    overflow-visible
    top-0
    z-[2]
    dark:backdrop-blur-3xl
    opacity-0
    dark:opacity-100
    pointer-events-none
    smooth
    FadeAwayBlur
  "
></div>
<div
  class="
    absolute
    w-full
    h-full
    overflow-visible
    top-0
    opacity-0
    dark:opacity-100
    z-[1]
    object-none
    lg:object-cover
    smooth
    FadeAwayDm
  "
></div>
