<div class="flex justify-end p-2">
  <div class="w-fit">
    <app-title [title]="titleTxt"></app-title>
    <div class="font-syne text-small text-end opacity-75 p-4">
      <p class="text-justify" [innerHTML]="descriptionTxt"></p>
    </div>
  </div>
</div>

<a class="wrapper">
  <a
    href="https://glass.photo/ohvecho"
    target="_blank"
    style="--grid-area: cat-tees"
  >
    <img
      src="https://s3-api.vps.notifyapp.it/vecho-cdn/photos/20250223-DSCF1031RAW.jpg"
    />
  </a>

  <a
    href="https://glass.photo/ohvecho"
    target="_blank"
    style="--grid-area: cat-hoodies"
  >
    <img
      src="https://s3-api.vps.notifyapp.it/vecho-cdn/photos/20250227-DSCF1089RAW.jpg"
    />
  </a>

  <a
    href="https://glass.photo/ohvecho"
    target="_blank"
    style="--grid-area: cat-ladies-shirts"
  >
    <img
      src="https://s3-api.vps.notifyapp.it/vecho-cdn/photos/20250425-DSCF0138RAW.jpg"
    />
  </a>

  <a
    href="https://glass.photo/ohvecho"
    target="_blank"
    style="--grid-area: cat-youth"
  >
    <img
      src="https://s3-api.vps.notifyapp.it/vecho-cdn/photos/20250426-DSCF0159RAW-2.jpg"
    />
  </a>

  <a
    href="https://glass.photo/ohvecho"
    target="_blank"
    style="--grid-area: cat-kids"
  >
    <img
      src="https://s3-api.vps.notifyapp.it/vecho-cdn/photos/20250502-DSCF0436RAW.jpg"
    />
  </a>

  <a
    href="https://glass.photo/ohvecho"
    target="_blank"
    style="--grid-area: cat-cologne"
  >
    <img
      src="https://s3-api.vps.notifyapp.it/vecho-cdn/photos/20250426-DSCF0165RAW.jpg"
    />
  </a>

  <a
    href="https://glass.photo/ohvecho"
    target="_blank"
    style="--grid-area: cat-mens-shirts"
  >
    <img
      src="https://s3-api.vps.notifyapp.it/vecho-cdn/photos/20250202-DSCF0185_PIAZZA-DELLA-REPUBBLICA.jpg"
    />
  </a>

  <a
    href="https://glass.photo/ohvecho"
    target="_blank"
    style="--grid-area: cat-intimate"
  >
    <img
      src="https://s3-api.vps.notifyapp.it/vecho-cdn/photos/20250426-DSCF0168RAW.jpg"
    />
  </a>
</a>
