<div class="font-syne">
  <div class="code smooth max-w-xs" [title]="h1Txt.open">
    {{ h1Txt.open }}
  </div>
  <div class="flex justify-end" #titleRef>
    <h1
      class="
        z-10
        my-auto
        text-3xl
        lg:text-5xl
        font-mono-display
        uppercase
        text-transparent
        max-w-fit
        bg-clip-text bg-gradient-to-r
        from-blue-400
        to-purple-600
      "
    >
      {{ title }}
    </h1>
  </div>
  <div class="code smooth">
    {{ h1Txt.close }}
  </div>
</div>
<div
  class="border-b border-colors py-1 animate__fadeInDown animate__animated"
></div>
