<div class="absolute w-full h-full top-0 -z-[1] smooth backdrop-blur-3xl"></div>
<div>
  <img
    class="
      absolute
      w-full
      h-full
      top-0
      dark:brightness-75
      -z-10
      object-cover
      smooth
    "
    src="/assets/AI/landing-dm.webp"
  />
</div>

<!-- <app-default-background></app-default-background> -->

<div class="center vertical">
  <div class="center w-full h-full">
    <div class="w-fit h-full">
      <div class="font-syne my-4 tracking-wider text-2xl smooth">
        {{ notReadyYetTxt() }}.
      </div>
      <div class="flex flex-col justify-end h-full">
        <div
          class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-4"
        >
          <app-linkedin></app-linkedin>
          <app-github></app-github>
          <app-email></app-email>
          <app-instagram></app-instagram>
        </div>
      </div>
    </div>
  </div>
</div>
