<div class="flex justify-end m-5">
  <div class="z-10">
    <div class="flex justify-end">
      <app-title [title]="HelloTxt"></app-title>
    </div>
    <div class="flex flex-col justify-center xl:justify-end h-full">
      <h2 class="text-end space-y-0 text-4xl">
        <div class="text-lg font-syne mx-1">{{ ImTxt }}</div>
        <div class="font-bold p-1 text-5xl xl:backdrop-blur">
          Stefano Vecchietti
        </div>
        <br />
        <p class="text-xl xl:text-2xl font-light font-syne xl:backdrop-blur">
          {{ SubtitleTxt }}
        </p>
      </h2>
    </div>
  </div>
</div>
