<div class="center vertical">
  <div class="center horizontal w-full h-full">
    <div class="w-fit h-full">
      <div class="font-syne my-4 tracking-wider text-2xl">Not ready yet.</div>
      <div class="flex flex-col justify-end h-full">
        <div
          class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-4"
        >
          <app-linkedin></app-linkedin>
          <app-github></app-github>
          <app-email></app-email>
          <app-instagram></app-instagram>
        </div>
      </div>
    </div>
  </div>
</div>
