<span class="hidden">{{ handleDarkMode() | json }}</span>
<div [ngClass]="{ dark: darkMode.enabled }">
  <div
    class="
      bg-dotted-spacing-10 bg-dotted-gray-500
      dark:bg-dotted-gray-700
      bg-gray-50
      dark:bg-gray-800
      text-gray-700
      dark:text-gray-100
      overflow-hidden
      w-screen
      transition-all
      duration-300
      center
      vertical
      h-screen
    "
  >
    <div class="overflow-y-auto flex flex-col justify-between h-screen">
      <div>
        <div class="right-0 p-4">
          <app-toggle-dark-mode></app-toggle-dark-mode>
        </div>

        <div class="flex flex-col justify-center py-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <div class="footer border-colors space-y-2 flex">
      <div class="footer-header text-end">
        Developed using Angular 15 and Tailwind CSS 3.2.4
      </div>
      <div class="flex justify-between">
        <div class="footer-content text-left w-6/12">
          images made with Midjourney AI
        </div>
        <div class="footer-content text-end w-6/12">Powered by HOSTINGER</div>
      </div>
    </div>
  </div>
</div>
