<span class="hidden">{{ bootstrapDarkMode() | json }}</span>
<div [ngClass]="{ dark: darkMode.enabled }">
  <app-contacts-strip></app-contacts-strip>
  <app-wallpaper class="h-full w-full -z-[10]"></app-wallpaper>

  <div
    class="text-gray-700 dark:text-gray-50 transition-all duration-300 center vertical min-h-screen max-w-screen bg-[#F2E5D2] dark:bg-gray-900 bg-dotted-spacing-20 bg-dotted-gray-400/70 dark:bg-dotted-white/30"
  >
    <div
      class="flex flex-col justify-between h-full min-h-screen overflow-x-hidden overflow-hidden"
    >
      <div>
        <div class="p-4 flex justify-between">
          <app-toggle-dark-mode
            class="animate__fadeInLeft animate__animated"
          ></app-toggle-dark-mode>
          <app-toggle-language
            class="animate__fadeInRight animate__animated"
          ></app-toggle-language>
        </div>

        <div class="h-full overflow-y-visible">
          <div
            class="h-full w-full lg:h-full lg:w-3/12 z-10 center lg:fixed -right-10 flex justify-end"
          >
            <app-nav></app-nav>
          </div>
          <div
            class="h-full w-full lg:w-8/12 2xl:w-9/12 xl:border-r border-colors my-10 xl:mt-0 p-4 z-10"
          >
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>

    <div class="footer border-colors">
      <div class="footer-header text-end">
        <div class="flex justify-between">
          <a
            href="https://github.com/StefanoVe/portfolio"
            target="_blank"
            class="flex space-x-1 text-left"
          >
            <svg
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              class="h-8 w-8"
            >
              <path
                d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 21.125 7.214844 25.503906 11.75 27.21875 L 12.6875 27.59375 L 13.0625 26.65625 L 15.53125 20.09375 L 15.875 19.15625 L 14.9375 18.8125 C 13.804688 18.382813 13 17.292969 13 16 C 13 14.332031 14.332031 13 16 13 C 17.667969 13 19 14.332031 19 16 C 19 17.292969 18.195313 18.382813 17.0625 18.8125 L 16.125 19.15625 L 16.46875 20.09375 L 18.9375 26.65625 L 19.3125 27.59375 L 20.25 27.21875 C 24.785156 25.503906 28 21.125 28 16 C 28 9.382813 22.617188 4 16 4 Z M 16 6 C 21.535156 6 26 10.464844 26 16 C 26 19.921875 23.683594 23.203125 20.40625 24.84375 L 18.59375 20.0625 C 19.976563 19.171875 21 17.757813 21 16 C 21 13.25 18.75 11 16 11 C 13.25 11 11 13.25 11 16 C 11 17.757813 12.023438 19.171875 13.40625 20.0625 L 11.59375 24.84375 C 8.316406 23.203125 6 19.921875 6 16 C 6 10.464844 10.464844 6 16 6 Z"
              />
            </svg>
            <small class="my-auto">{{ footerTopLeftTxt() }}!</small>
          </a>
          <small class="text-end my-auto">{{ footerTopRightTxt() }}</small>
        </div>
      </div>

      <div class="flex justify-between">
        <div class="footer-content text-left w-6/12">
          <span>{{ footerBottomLeftTxt() }}</span>
        </div>
        <div class="footer-content text-end w-6/12">
          {{ footerBottomRightTxt() }}
        </div>
      </div>
    </div>
  </div>
</div>
