<app-default-background></app-default-background>
<main class="w-full center vertical items-center font-syne">
  <div class="group/404 cursor-pointer" routerLink="/">
    <div class="img-container w-[28rem]">
      <img
        class="blob blob-img group-hover/404:opacity-0 opacity-80 h-80"
        src="/assets/AI/404-1.webp"
      />
      <img
        class="
          group-hover/404:opacity-80
          opacity-0
          h-full
          horizontal-flip
          blob blob-img
        "
        src="/assets/AI/404-2.webp"
      />
      <div
        class="
          blob
          ring
          border-colors
          h-[26rem]
          w-[30rem]
          -top-10
          group-hover/404:w-10 group-hover/404:h-10
        "
      ></div>
      <div
        class="
          blob
          ring
          border-colors
          h-96
          w-[30rem]
          scale-x-[-1] scale-y-[-1]
          -top-10
          backdrop-brightness-90
          dark:backdrop-brightness-125
          -z-10
          group-hover/404:w-10 group-hover/404:h-10
        "
      ></div>
      <div
        class="
          p-2
          absolute
          right-0
          -top-10
          hidden
          lg:block
          lg:opacity-0
          group-hover/404:opacity-100
          smooth
          translate-x-20
          group-hover/404:translate-x-0
          cursor-pointer
        "
      >
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="h-6 w-6 text-current hover:rotate-[315deg] smooth"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm1.476 14.955c.988-.405 1.757-1.211 2.116-2.216l2.408-6.739-6.672 2.387c-1.006.36-1.811 1.131-2.216 2.119l-3.065 7.494 7.429-3.045zm-.122-4.286c.551.551.551 1.446 0 1.996-.551.551-1.445.551-1.996 0-.551-.55-.551-1.445 0-1.996.551-.551 1.445-.551 1.996 0z"
            />
          </svg>
        </a>
      </div>
    </div>

    <div class="sticky z-10 group-hover/404:translate-y-8 smooth">
      <h1
        class="
          group-hover/404:text-8xl
          text-9xl
          font-extrabold
          text-transparent
          bg-clip-text bg-gradient-to-r
          from-purple-600
          to-red-600
          tracking-widest
          smooth
          group-hover/404:opacity-0 group-hover/404:-translate-y-20
          rotate-[6deg]
        "
      >
        <span>404</span>
      </h1>
      <h2 class="font-medium tracking-widest text-center">
        <div class="sticky">
          <span
            class="
              smooth
              group-hover/404:opacity-0
              drop-shadow-md
              group-hover/404:scale-90
              absolute
              left-0
              right-0
              rotate-[6deg]
            "
          >
            {{ notFoundTxt() }}</span
          >
          <div class="relative">
            <span
              class="
                smooth
                opacity-0
                group-hover/404:opacity-100 group-hover/404:text-3xl
                absolute
                left-0
                right-0
              "
            >
              {{ wannaGoHomeTxt() }}</span
            >
            <div class="center w-full relative -z-10">
              <div
                class="
                  blob
                  ring
                  h-24
                  group-hover/404:opacity-0
                  -top-10
                  backdrop-blur
                "
              ></div>
            </div>
          </div>
        </div>
      </h2>
    </div>
  </div>
</main>
