<a
  class="widget center vertical"
  href="https://github.com/StefanoVe"
  target="_blank"
>
  <div>
    <div class="center p-1">
      <!-- Light Mode -->
      <img
        alt="GitHub Logo Light"
        src="/assets/github/GitHub-Mark-Light-120px-plus.png"
        class="logo dark:block hidden"
      />
      <!-- Dark Mode -->
      <img
        alt="GitHub Logo Dark"
        src="/assets/github/GitHub-Mark-120px-plus.png"
        class="logo dark:hidden block"
      />
    </div>
    <h3>StefanoVe</h3>
  </div>
  <div class="border-t border-colors w-full mt-2">
    <div class="h-14 center vertical">
      <p class="text-2xl font-bold">GitHub</p>
    </div>
  </div>
</a>
