<a
  class="widget bg-white dark:bg-slate-700 p-2 center vertical border border-colors items-center"
  href="https://github.com/StefanoVe"
  target="_blank"
>
  <div>
    <div class="center horizontal p-1">
      <img
        src="/assets/github/GitHub-Mark-Light-120px-plus.png"
        class="dark:block hidden object-contain h-7 mt-4"
      />
      <img
        src="/assets/github/GitHub-Mark-120px-plus.png"
        class="dark:hidden block object-contain h-7 mt-4"
      />
    </div>
    <h3 class="text-xl font-bold">GitHub</h3>
  </div>
  <div class="border-t border-colors w-full mt-1">
    <p class="p-4 font-bold font-sans">StefanoVe</p>
  </div>
</a>
