@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    @apply flex;
    &.horizontal {
        @apply text-center justify-center

    }

    &.vertical {
        @apply text-center flex-col justify-center 
    }

    &.vertical-reversed {
        @apply text-center flex-col-reverse justify-center 
    }
}



.border-colors {
    @apply border-gray-200 dark:border-slate-500
}


.widget {
    @apply w-[15rem] h-[8.5rem] rounded-xl shadow-sm cursor-pointer bg-white dark:bg-slate-500/20 p-2 transition-all ease-in-out hover:scale-95 duration-200 hover:brightness-95 dark:hover:brightness-150 border border-colors backdrop-blur-sm;

    & .logo {
        @apply object-contain h-7 mt-4
    }

    & .pfp {
        @apply h-14 w-14 object-contain rounded-full shadow-md
    }
}

.horizontal-flip {
    --tw-scale-x: -1;    
}

body{
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.blob {
    overflow: hidden;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background-size: cover;
    background-position: center;
    
    animation: blob 10s linear infinite;
    
  }

  @keyframes blob {
    0%, 100% {
        border-radius:
            42% 56% 72% 28% / 42% 42% 56% 48%;
    }

    33% {
        border-radius:
            42% 28% 48% 48% / 28% 28% 72% 72%;
    }

    66% {
        border-radius:
            100% 26% 56% 100% / 100% 100% 56% 56%;
    }
}

.blob-ring {
    @apply blob w-full border absolute transition-all duration-300 ease-in-out    transform-gpu outline-none right-0    border-gray-400
}

.smooth {
    @apply transition-all duration-300 ease-in-out   
   }