@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    @apply flex;
    &.horizontal {
        @apply text-center justify-center

    }

    &.vertical {
        @apply text-center flex-col justify-center 
    }

    &.vertical-reversed {
        @apply text-center flex-col-reverse justify-center 
    }
}

.footer {
    @apply p-4 dark:bg-gray-600 bg-yellow-500/20 text-gray-500 dark:text-white w-full border-t border-colors hidden md:block;

    & .footer-header {
        @apply text-xs lg:text-sm;
    }

    & .footer-content {
        @apply text-[0.50rem] lg:text-xs ;
    }
}

.border-colors {
    @apply border-gray-200 dark:border-slate-500
}


.widget {
    @apply w-[15rem] h-[8.5rem] rounded-xl shadow-sm cursor-pointer bg-white dark:bg-slate-500/20 p-2 transition-all ease-in-out hover:scale-95 duration-200 hover:brightness-95 dark:hover:brightness-150 border border-colors backdrop-blur-sm;

    & .logo {
        @apply object-contain h-7 mt-4
    }

    & .pfp {
        @apply h-14 w-14 object-contain rounded-full shadow-md
    }
}

body{
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}