.timeline {
    @apply w-4 p-3 bg-gradient-to-t from-blue-400 to-blue-900 h-full rounded-xl shadow-xl  shadow-gray-700 ;
}


.event {
    @apply  flex  w-full  ;
}



.event-content
{
@apply   xl:p-10 space-y-2 max-w-[80%] xl:max-w-[50%];
    
    & > h4 {
        @apply  text-lg font-bold p-2 backdrop-blur-sm  font-mono-display flex space-x-1 ;
    }

    & > p {
        @apply  font-medium ;
    }

}

.event-left {
    @apply xl:justify-start text-end 
}

.event-right {
    @apply xl:justify-end text-end xl:text-left 
}

.float {
    	animation: float 6s ease-in-out infinite;
        animation-direction: alternate;

        &.float-slow {
            animation-duration: 7s;
        }

        
}

@keyframes float {
	0% {
		transform: translatey(0rem);
        
	}
	50% {
		transform: translatey(0.5rem);
        
	}
	100% {
		transform: translatey(0rem);
        
	}
}