<div class="flex justify-end p-2">
  <app-title [title]="title()" class="z-20"></app-title>
</div>

<div
  class="
    flex flex-row-reverse
    xl:center
    h-full
    relative
    font-syne
    my-10
    2xl:m-10
  "
>
  <div class="xl:p-5 space-y-10 xl:space-y-0">
    <div
      class="event"
      id="event{{ i }}"
      *ngFor="let event of events(); let i = index"
      [ngClass]="i % 2 === 0 ? 'event-left' : 'event-right '"
    >
      <div class="event-content">
        <div
          class="flex"
          [ngClass]="i % 2 === 0 ? 'flex-row-reverse ' : 'flex-row'"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-white/20 animate__fadeInDown animate__animated"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              [attr.d]="i > 0 ? 'M4.5 15.75l7.5-7.5 7.5 7.5' : 'M19.5 12h-15'"
            />
          </svg>
        </div>
        <p class="animate__fadeInDown animate__animated">
          {{ event.dates.from | date: "MM/yy" }} -
          {{
            isToday(event.dates.to)
              ? stillHereTxt()
              : (event.dates.to | date: "MM/yy")
          }}
        </p>

        <h4
          class="animate__fadeInDown animate__animated"
          [ngClass]="i % 2 === 0 ? 'flex-row' : 'xl:flex-row-reverse'"
        >
          <app-personal-icon
            class="w-8 h-8 dark:text-yellow-500 text-yellow-300"
            [title]="sideProjectTxt()"
            *ngIf="event.isSideProject"
          >
          </app-personal-icon>

          <div class="my-auto w-full">
            {{ event.title }}
          </div>
        </h4>
        <p
          [innerHTML]="event.description"
          class="animate__fadeInUp animate__animated animate__delay-1s"
        ></p>
      </div>
    </div>
  </div>
  <ng-container [ngTemplateOutlet]="timeline"></ng-container>
</div>

<ng-template #timeline>
  <div class="absolute h-full xl:w-full">
    <div class="absolute left-0 right-0 top-1">
      <span
        class="
          opacity-0
          dark:opacity-100
          smooth
          pointer-events-none
          absolute
          left-0
          right-0
        "
        >🌒</span
      >
      <span
        class="
          opacity-100
          dark:opacity-0
          dark:-translate-y-5
          smooth
          absolute
          left-0
          right-0
        "
        >🔆</span
      >
    </div>

    <div class="absolute bottom-[5.7rem] left-0 right-3 float">☁️</div>
    <div class="absolute bottom-[5.5rem] left-3 right-0 float float-slow">
      ☁️
    </div>
    <div class="absolute bottom-20 left-0 right-0 float">☁️</div>
    <div class="timeline xl:m-auto"></div>
    <div class="absolute left-0 right-0 bottom-1 -rotate-45">🚀</div>
  </div>
</ng-template>
