<div class="flex justify-end p-2">
  <div class="w-fit">
    <app-title [title]="titleTxt()"></app-title>
  </div>
</div>

<div class="center vertical items-center m-4 h-full">
  <div
    class="
      flex flex-col
      lg:flex-row
      justify-around
      space-y-4
      lg:space-y-0 lg:space-x-4
    "
  >
    <app-instagram
      class="animate__fadeInDown animate__animated"
    ></app-instagram>
    <app-github
      class="animate__fadeInDown animate__animated"
      [ngStyle]="{ 'animation-delay': '0.3s' }"
    ></app-github>
    <app-email
      class="animate__fadeInDown animate__animated"
      [ngStyle]="{ 'animation-delay': '0.6s' }"
    ></app-email>
    <app-linkedin
      class="animate__fadeInDown animate__animated"
      [ngStyle]="{ 'animation-delay': '0.9s' }"
    ></app-linkedin>
  </div>
</div>
